@media (max-width: 600px) {
    div.center-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
    }

    header {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        height:fit-content;
    }
    div#nav-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        grid-row: 2 / span 1;
    }
    div.nav-button{
        padding: 3px;
    }
    div#org-logo-group{
        grid-row: 1 /span 1;
        text-align: right;
    }
    div#icon-group{
        padding: 5px;
        width: fit-content;
    }
    div#icon-group > img {
        width: 40px;
    }

    div.showcase {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        height: 400px;
    }
    span#showcase-text {
        font-size: 36px;
    }

    div.device-bar {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
        height: auto;
    }
    div#device-icons {
        display: none;
    }
    div#device-text > p {
        text-align: center;
    }

    div#content-group {
        grid-row: 4 / span 1;
        grid-column: 1 / span 1;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 100%;
    }
    div#content-header {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }
    h4.currency-title {
        font-size: 24px;
    }
    div.changebox > p {
        font-size: 24px;
    }
    article > img {
        width: 15vw;
    }
}
